@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1360px;
  }

  .full-container {
    max-width: 1550px;
    flex-wrap: nowrap;
  }

  .logo img {
    height: 60px;
  }

  .header-menu {
    padding-left: 30px;
  }

  .nav-links li {
    padding: 0 20px;
  }

  #extra-padding {
    padding-right: 40px;
  }

  .nav-contact {
    font-size: 13px;
  }

  .container {
    max-width: 1250px;
  }

  .banner-heading {
    max-width: 630px;
    padding: 35px 50px 35px 40px;
    top: 330px;
  }

  h1 {
    font-size: 55px;
  }

  .nav-section .navbar .nav-links li {
    padding-right: 40px;
  }

  .nav-section .nav-links li {
    padding-left: 40px;
  }

  .partnership-section {
    padding-bottom: 60px;
  }

  .right-col {
    margin-right: -80px;
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1170px;
  }

  .header-menu {
    padding-left: 0;
  }

  .full-container {
    padding: 10px 28px;
  }

  .logo img {
    height: 50px;
  }

  .nav-links li {
    font-size: 20px;
  }

  #extra-padding {
    padding-right: 35px;
  }

  #links2 {
    padding: 0 10px;
  }

  #links2 a {
    font-size: 15px;
  }

  .banner-heading {
    max-width: 530px;
    top: 303px;
  }

  h1 {
    font-size: 45px;
  }

  .title h2 {
    font-size: 40px;
  }

  .partnership-section {
    padding: 80px 0;
  }

  .partnership-image h4 {
    min-width: 285px;
    padding: 20px 30px;

    font-size: 25px;
  }

  .approach-text h2 {
    font-size: 40px;
  }

  .approach-text p {
    font-size: 15px;
  }

  .approach-text {
    max-width: 532px;
    padding: 70px 62px;
  }

  .approach-section {
    padding: 120px 0 80px 0;
  }

  .approach-section::before {
    max-height: 770px;
  }

  .left-col h2 {
    font-size: 70px;
  }

  .contact-head {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .contact-detail {
    margin-top: 60px;
  }

  .contact-detail > .tel {
    font-size: 25px;
  }

  .contact-detail a {
    font-size: 15px;
  }

  .nav-section .navbar .nav-links li {
    font-size: 17px;
    padding-right: 35px;
  }

  .nav-section .nav-links li {
    font-size: 13px;
  }

  .contact-detail h6 {
    font-size: 20px;
  }

  .footer-contact {
    padding-top: 20px;
  }

  .right-col {
    width: 40%;
    margin-right: -15px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .logo img {
    height: 40px;
  }

  .nav-links li {
    padding: 0 15px;
    font-size: 17px;
  }

  #extra-padding {
    padding-right: 15px;
  }

  #links2 {
    padding: 0 10px;
  }

  #links2 a {
    font-size: 13px;
  }

  .nav-contact {
    font-size: 11px;
  }

  h1 {
    font-size: 38px;
  }

  .banner-heading {
    /* max-width: 500px; */
    padding: 25px 50px 25px 30px;
    top: 250px;
  }

  .banner-heading::before {
    width: 100px;
  }

  .partnership-section {
    padding: 65px 0;
  }

  .main-partnership {
    padding-top: 60px;
  }

  .title h2 {
    font-size: 35px;
  }

  .title p {
    font-size: 25px;
  }

  .partnership-image h4 {
    min-width: 235px;
    font-size: 20px;
  }

  .approach-section {
    padding-bottom: 75px;
  }

  .approach-img img {
    height: 540px;
    object-fit: cover;
  }

  .approach-text {
    max-width: 500px;
    padding: 65px 50px;
  }

  .approach-text h2 {
    font-size: 35px;
  }

  .approach-text p {
    font-size: 14px;
  }

  .left-col h2 {
    font-size: 65px;
  }

  .contact-detail {
    padding-left: 75px;
  }

  .contact-detail > img {
    width: 50px;
  }

  .contact-detail > .tel {
    font-size: 20px;
  }

  .contact-head {
    padding: 0px;
    font-size: 15px;
  }

  .nav-section .navbar .nav-links li {
    font-size: 14px;
    padding-right: 30px;
  }

  .nav-section .nav-links li {
    font-size: 12px;
    padding-left: 24px;
  }

  .right-col img {
    width: 550px;
  }

  .footer-navbar .nav-section {
    padding: 25px 0;
  }
}

@media only screen and (max-width: 1024px) {
  .logo,
  .nav-contact {
    z-index: 1;
  }

  .full-container .nav-contact {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    margin: 0;
    padding: 0;
    display: block;
  }

  .hamburger:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: rgb(240, 68, 68);
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }

  .hamburger .line:nth-child(1),
  .hamburger .line:nth-child(3),
  .hamburger .line:nth-child(2) {
    background-color: #a11d1f;
  }

  .hamburger.isactive .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.isactive .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.isactive .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .header-menu {
    position: fixed;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: -100%;
    left: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
  }

  .header-menu.active {
    top: 0;
    transition: 0.5s;
  }

  .header-menu .navbar ul li,
  #links2 {
    display: block;
    padding: 8px 0;
  }

  .header-menu .navbar a,
  #links2 a {
    font-weight: 600;
    font-size: 20px;
  }

  #extra-padding {
    padding-right: 0;
  }

  .container {
    max-width: 890px;
  }

  .partnership-section {
    padding: 50px 0;
  }

  .title h2 {
    font-size: 30px;
  }

  .title p {
    font-size: 23px;
  }

  .approach-section {
    padding: 0 0 50px 0;
  }

  .approach-text {
    max-width: 100%;
    padding: 45px 35px;
  }

  .approach-text br {
    display: none;
  }

  .approach-block {
    position: sticky;
    margin-top: -190px;
  }

  .approach-text h2 {
    font-size: 30px;
  }

  .approach-text p {
    padding-top: 13px;
  }

  .left-col h2 {
    font-size: 55px;
  }

  .contact-detail h6 {
    font-size: 17px;
    padding-bottom: 0;
  }

  .contact-detail > img {
    width: 40px;
  }

  .footer-contact {
    padding-top: 0;
  }

  .contact-detail {
    padding-left: 60px;
  }

  /* .main-partnership {
    justify-content: space-around;
  } */

  /* .partnership-image {
    width: 45%;
  } */

  .partnership-image h4 {
    padding: 15px 30px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 740px;
    padding: 0 30px;
  }

  .banner-heading {
    top: 200px;
  }

  .main-partnership {
    padding-top: 40px;
  }

  .partnership-image {
    width: 47%;
  }

  .main-partnership {
    justify-content: space-around;
  }

  .approach-img img {
    height: auto;
  }

  .approach-block {
    margin-top: -90px;
  }

  .footer-navbar .nav-section {
    flex-direction: column;
  }

  .nav-section a {
    padding-bottom: 0;
  }

  .nav-section > .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-section .nav-links li {
    padding: 5px 0;
  }

  .nav-section .navbar .nav-links li {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 600px;
  }

  .full-container {
    padding: 15px 28px;
  }

  .full-container .nav-contact {
    font-size: 14px;
  }

  h1 {
    font-size: 33px;
  }

  .banner-heading {
    padding: 20px;
    top: 175px;
  }

  .banner-heading::before {
    width: 60px;
  }

  .title h2 {
    font-size: 28px;
  }

  .title p {
    padding-top: 10px;
    font-size: 20px;
  }

  .approach-text h2 {
    font-size: 28px;
  }

  .partnership-image h4 {
    min-width: auto;
    font-size: 18px;
  }

  .contact-detail {
    width: 100%;
    margin-top: 40px;
  }

  .right-col {
    width: 50%;
  }

  .nav-section .navbar .nav-links li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    max-width: 420px;
  }

  header {
    top: 15px;
    padding: 0 20px;
  }

  .logo img {
    height: 30px;
  }

  .nav-contact a:nth-of-type(2),
  .nav-contact p strong {
    display: none;
  }

  .nav-contact a:nth-of-type(1) {
    display: block;
  }

  .banner-img {
    position: relative;
    padding-top: 350px;
  }

  .banner-img img {
    position: absolute;
    top: 0;
    object-fit: cover;
  }

  .partnership-image {
    width: 100%;
  }

  h1 {
    font-size: 25px;
  }

  .banner-heading {
    top: 160px;
  }

  .title h2 {
    font-size: 25px;
  }

  .partnership-section {
    padding: 40px 0;
  }

  .approach-text h2 {
    font-size: 25px;
  }

  .left-col,
  .right-col {
    width: 100%;
    margin: 0;
  }

  .nav-section .navbar ul {
    text-align: center;
  }

  .nav-section .navbar .nav-links li {
    padding: 2px 0;
    display: block;
    font-size: 20px;
    font-weight: 600;
  }

  .nav-section .nav-links li {
    padding: 2px 0;
    font-size: 20px;
  }

  .full-container .nav-contact {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 300px;
  }
}
